body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  overflow-x: hidden; /* Previene lo scroll orizzontale */
}

#app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e5e5e6;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%; /* Assicura che il contenuto usi l'intera larghezza disponibile */
}

#app {
  color: #333;
  background-color: #e5e5e6;
}

/* Stili comuni per le pagine */
.dashboard,
.home,
.login,
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 0px;
  text-align: center;
  width: 100%; /* Assicura che le pagine usino l'intera larghezza disponibile */
}

.edit-profile,
.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

/* Stili specifici per la home */
.home {
  background: url("../assets/mmrdykwhh2b11.png") center no-repeat;
  background-size: cover;
  color: white;
  padding: 20px; /* Aggiunge padding per evitare che il testo tocchi i bordi */
}

.home h1,
.home h3,
.home p {
  font-size: calc(1rem + 1vw); /* Responsive font size */
  max-width: 800px;
  margin: 20px auto;
  background-color: rgba(32, 35, 42, 0.8);
  border-radius: 10px;
  padding: 15px;
  color: #fff;
  font-weight: bold;
}

nav {
  background-color: #20232a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  flex: 1;
}

.navbar-logo {
  height: 10vh; /* Aumentato l'altezza del logo al 10% della altezza della viewport */
  width: auto; /* Mantiene le proporzioni corrette del logo */
  margin-right: 2vw; /* Aumentato lo spazio tra il logo e la search bar */
  flex: 0 0 auto; /* Non permette al logo di crescere o restringersi */
}

.search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  max-width: calc(100% - 100px); /* Limita la larghezza per evitare overflow */
  position: relative;
}

.search-bar {
  padding: 0.5vh 1vw;
  border: 2px solid #61dafb;
  border-radius: 20px;
  outline: none;
  width: 100%;
  max-width: 600px;
  height: calc(3vh + 10px);
}

.suggestions-container {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  right: 0;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 100%; /* Ora copre tutta la larghezza della search bar */
  background-color: #fff; /* Sfondo bianco per le suggerenze per contrastare con il tema scuro */
  border-radius: 20px; /* Bordi arrotondati solo nella parte inferiore */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /* Raddoppia l'ombra per una maggiore visibilità */
}

.film-suggestion {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee; /* Una leggera linea tra i suggerimenti per una migliore separazione visiva */
  cursor: pointer; /* Cambia il cursore per indicare che è cliccabile */
  transition: background-color 0.3s ease; /* Transizione morbida per l'hover */
}

.film-suggestion:hover {
  background-color: #f2f2f2; /* Cambia lo sfondo al passaggio del mouse per migliorare l'interattività */
}

.film-suggestion:last-child {
  border-bottom: none; /* Rimuove il bordo dall'ultimo elemento per mantenere un design pulito */
}

.film-suggestion-poster {
  width: 50px; /* Dimensione fissa per le immagini dei film per coerenza */
  margin-right: 10px; /* Margini per non sovrapporre testo e immagine */
}

.film-suggestion-title {
  font-size: 14px; /* Dimensione del font coerente e leggibile */
  display: inline-block; /* Garantisce che il titolo sia allineato correttamente con l'immagine */
  font-weight: bold; /* Rende il titolo più visibile */
  color: #20232a; /* Colore del testo scuro per un buon contrasto su sfondo chiaro */
}

.nav-item,
.login-link,
.user-info,
nav a {
  display: flex;
  align-items: center;
  color: #61dafb;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s;
  font-weight: bold;
  padding: 1vh 1vw;
  margin: 0 1vw;
  white-space: nowrap;
  font-size: calc(0.8rem + 0.5vw);
  background-color: transparent; /* Sfondo trasparente di default */
  border: 2px solid transparent; /* Bordo trasparente di default */
}

.nav-item:hover,
.login-link:hover,
.user-info:hover,
nav a:not(.navbar-logo-link):hover,
.nav-item.router-link-exact-active,
.login-link.router-link-exact-active,
.user-info.router-link-exact-active,
nav a.router-link-exact-active {
  background-color: #61dafb; /* Colore di sfondo azzurro */
  color: #20232a; /* Testo scuro per contrasto */
  border-color: #61dafb; /* Bordo azzurro */
}

.navbar-logo-link,
.navbar-logo-link:hover,
.navbar-logo-link.router-link-exact-active {
  background-color: transparent; /* Mantieni trasparente per il logo */
  color: inherit; /* Colore ereditato */
  border: none; /* Nessun bordo per il logo */
}

.footer {
  text-align: center;
  padding: 30px;
  background-color: #20232a;
  color: #fff;
  width: 100%;
}

@media (max-width: 768px) {
  .navbar-left,
  .navbar-right {
    flex-direction: column; /* Impila gli elementi verticalmente su schermi piccoli */
  }

  .nav-item,
  .login-link,
  .user-info,
  nav a {
    font-size: 1rem; /* Riduce la dimensione del testo su schermi piccoli */
  }
}
